<div class="topBar">
    <div class="logo">
        <h3>BrookaStudio</h3>
    </div>
    <div class="right-actions">
        <ul class="fr">
            <li>
                <a href="#">
                    <md-icon role="img" class="material-icons mat-icon" aria-label="settings">settings</md-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <md-icon role="img" class="material-icons mat-icon" aria-label="help">help</md-icon>
                </a>
            </li>
            <li>
                <a href="#">
                <span class="button-wrapper">
                    <span class="notify">3</span>
                    <md-icon role="img" class="material-icons mat-icon" aria-label="notifications">notifications</md-icon>
                </span>
                </a>
            </li>
            <li>
                <a href="" class="display:block">
                    <md-icon role="img" class="material-icons mat-icon" aria-label="account_circle">account_circle</md-icon>
                </a>
            </li>
        </ul>
    </div>
</div>

